.dashboard-welcome {
  display: inline;
  text-align: right;
}
.dashboard-nav {
  min-height: 6em;
  color: black;
  text-align: center;
  align-content: center;

}

.dashboard-tripCards {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;

}

.tripDash {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
  
}

.nav-tabs{
    justify-content: space-around;
    background: #00d1b2;
}

.nav-link {
        color: white;
}

.content{
    display: flex;
    justify-content: space-around;
}

.content a {
   color: white;
}