.dashboard-welcome {
  display: inline;
  text-align: right;
}
.dashboard-nav {
  min-height: 6em;
  color: black;
  text-align: center;
  align-content: center;

}



.dashboard-tripCards {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
  background-color: #fff

}

.tripDash {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
  
}

.nav-tabs{
    justify-content: space-around;
    background: #7EBDC2;
}

.hero-body {
  background: #7EBDC2;
}

.nav-link {
        color: white;
        /* background-color: #fff */
}

.nav-link:active {
  background-color: #fff;
}

.content{
    display: flex;
    justify-content: space-around;
}

.content a {
   color: #fff;
}