.dashboard-welcome {
  display: inline;
  text-align: right;
}
.dashboard-nav {
  min-height: 6em;
  /* color: black; */
  text-align: center;
  align-content: center;
}

.dashboard-tripCards {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
  background-color: #fff;
}

.tripDash {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
}

.nav-tabs {
  justify-content: space-around;
  background: #1881BE;
}

.hero-body {
  background: #1881BE;
  height: 4em;
}

.nav-link {
  color: white;
  /* background-color: #fff */
  border: solid 1px black
  
}

.nav-link:active {
  background-color: #fff;
  color: black
}

.content {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.content a {
  color: #fff;
}

#budget-tab{
  /* color: #fff; */
}

.dashboard-tripCards .card {
  background-color: #f3f3f3;
  margin-bottom: 20%;
}

#deleteBtn {
  display: inline-block
}

#edtBtn {
  display: inline-block
}

.column {
  padding: 0%
}

.subtitle{
  display: inline-block;
}

a{
  color: white
}

#main-head{}
