/* William Kimball 2018
This file styles the news component */

/* 

body {
  background: #d3d3d3;
} */

.dashboard-tripCards {
  /* justify-content: space-around */
}

.card-cont {
  background: white;
}
.card.item {
  /* align-content: center; */
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
  margin: 0 auto;
  margin-bottom: 3%;
}

.p-3 {
  padding: 0%;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 0%;
  /* margin-left: 2%;
  margin-right: 2%; */
}

#newTripBtn, #homeBtn {
  margin-right: 10%;
}

#homeLogOut{
  justify-content: space-around
}

dashButtons{
  justify-content: space-between;
}

#loginLogo {
  max-width: 35%;
  max-height: 35%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.subtitle.is-6.smallAttribution {
  /* font-size: .5em */
}
div .columns.is-centered.is-grid.is-multiline.dashboard-tripCards{
  margin-bottom: 5%;
  margin-top: 2%;
}
/* 
} */
/* .card .card-resize {
  align-self: center;
}  
a {
  margin-left: 3%;
} 
/*
.tripCard {
  background-color: #f3f3f3;
}
.card {
  max-width: 60%;
  align-content: center;
} 
*/

button{
  overflow-wrap: break-word;
}
.budget-card {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
#budgetCard {
  background-color: #f3f3f3;
  margin-top: 5%;
  margin-bottom: 5%;
}
.budget-card-content {
  width: 60%;
  margin: 0 auto;
  max-height: 10%;
  background-color: #f3f3f3;
}

.itinerary-card-content {
  width: 80%;
  margin: 0 auto;
  margin-top: 1%;
  background-color: #ffffff;
  border: solid 2px #d5d5d5;
  border-radius: 4px;
}

#itineraryButton {
  max-width: 40%;
  align-self: center;
  margin: 2%;
}

#budgetTotal {
  margin-top: 2%;
  margin-bottom: 2%;
}
.itinerary-card-body {
  max-height: 30px;
  margin-bottom: 2%;
}

#edtBtn {
  width: 6%;
  height: 6%;
  margin-left: 2%;
}

#deleteBtn {
  margin-left: 85%;
  width: 5%;
  height: 5%;
}
.modal-content.cardShrink{
  width: 80%;
  /* height: 200px; */
  margin-top:2%;
  margin-bottom:1%;
  /* display: block; */
}

div .cardShrink{
  position: relative;
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-top:2%;
  margin-bottom:2%;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  height: 20%
}

#deleteBtnCustList {
display: flex;
  width: 20%;
  height: 5%;
}

#listName{
  display: inline;
  /* width: 40%;
  margin: 0 auto; */
}

/* div.modal-content.modalScroll{
  height: 700px;
  overflow-y: auto;

} */
/* 
.edtBtn {
  width: 6%;
  height: 6%;
} */

/* .tripCardButtonColor {
  background-color: #f3f3f3;
}

.card-image {
  background-color: #f3f3f3;
}

.goToTripButton {
  max-width: 60%;
  background-color: #f3f3f3;
  margin: 0 auto;
}

#budgetButton {
  margin-top: -2%;
} */

/* #header {
  background: #d3d3d3;
  height: 100px;
  padding: 0%;
}

#hero-body-header{
  padding: 0%;
  height: 2em;
  margin-bottom: 3%;
} */

/*
*/
.card-body {
  min-width: 35%;
}
.customCard {
  width: 60%;
  margin: 0 auto;
  margin-top: 3%;
  height: 4em;
  background-color: #f3f3f3;
  align-items: center;
}

#deleteBtnCust {
  margin-left: 80%;
  width: 25%;
  height: 25%;
  display: inline;
}
/*
#Hdg{
  margin-bottom: 0px;
  margin-top: 5%;
  display: inline;
}

#subHdg{
  display: block;
  margin-top: -5%
} 

/* #tripHead{
  margin-top: 2%;
  padding: 0%
}

a{
  color: #ffffff
}

#main-head{
  margin-top:-2%;
}

#dartBtn{
  margin-left: 10%;
} */

/* #logo{display: inline-block} */

/* }
button .button .is-info .buttonShrink{
  width: 40%;
  margin: 0 auto;
} */

/* img {
  max-width: 300px;
  max-height: 200px;
} */

/* .card-header {
  height: 14%;
  width: 100%;
} */
